@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-cal-lightness: calc(l + 0.1);
}

:root[data-theme='light'] {
  --sl-cal-lightness: calc(l - 0.1);
}

[data-has-hero] header {
  background-color: transparent;
  border-bottom-color: hsl(from var(--sl-color-hairline-shade) h s var(--sl-cal-lightness) / 25%);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] header.top {
  border-bottom-color: transparent;
}

[data-has-hero] .hero>.hero-html {
  min-height: 12rem;
  height: 100%;
}

[data-has-hero] .hero #hero_logo {
  position: relative;
  background-image: url("/reactter/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

[data-has-hero] .hero #hero_logo::after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(0px 0px) blur(80px);
  z-index: -1;
}

[data-has-hero] .page {
  background: linear-gradient(215deg, var(--sl-color-accent-low), transparent 40%),
    radial-gradient(var(--sl-color-accent-low), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--sl-color-accent-low), transparent 60%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] .action.primary {
  @apply ring-1 ring-accent-600/50;
  --sl-color-text-accent: linear-gradient(45deg, var(--sl-color-accent), var(--sl-color-accent-low));
  color: var(--sl-color-white);
}

ol ul:last-child {
  margin-bottom: 1rem;
}

.code-tabs,
.expressive-code {
  font-family: var(--ec-uiFontFml);
  font-size: var(--ec-uiFontSize);
  font-weight: var(--ec-uiFontWg);
  line-height: var(--ec-uiLineHt);
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;

  --ec-brdRad: 0.4rem;
  --ec-brdWd: 1px;
  --ec-frm-edActTabIndHt: 2px;
  --ec-frm-edTabBrdRad: 0.4rem;
  --header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
  --tab-border-radius: calc(var(--ec-frm-edTabBrdRad) + var(--ec-brdWd));
  --button-spacing: 0.4rem;
  --code-background: var(--ec-frm-edBg);
}

.expressive-code .ec-line .code mark {
  background-color: transparent;
}

.expressive-code  .ec-line.highlight.mark {
  background-color: var(--sl-color-accent-low);
}

.expressive-code .frame {
  --ec-brdRad: 0.4rem;
  --ec-brdWd: 1px;
  --ec-frm-edActTabIndHt: 2px;
  --ec-frm-edTabBrdRad: 0.4rem;
  --header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
  --tab-border-radius: calc(var(--ec-frm-edTabBrdRad) + var(--ec-brdWd));
  --button-spacing: 0.4rem;
  --code-background: var(--ec-frm-edBg);
  border-radius: var(--header-border-radius);
  box-shadow: var(--ec-frm-frameBoxShdCssVal);
}
