@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-cal-lightness: calc(l + 0.1);
}

:root[data-theme='light'] {
  --sl-cal-lightness: calc(l - 0.1);
}

body {
  background-color: hsl(from var(--sl-color-accent-low) h s 05% / 100%);
}

[data-has-hero] header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-bottom: none;
}

[data-has-hero] header::before {
  background: radial-gradient(62.87% 100% at 50% 100%, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

[data-has-hero] header.top {
  border-bottom-color: transparent;
}

[data-has-hero] .hero>.hero-html {
  min-height: 12rem;
  height: 100%;
}

[data-has-hero] .hero #hero_logo {
  position: relative;
  background-image: url("/reactter/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

[data-has-hero] .hero #hero_logo::after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(0px 0px) blur(80px);
  z-index: -1;
}

[data-has-hero] .page {
  background: 
    linear-gradient(215deg, transparent 0%, rgb(from var(--sl-color-accent-low) r g b / 0.5) 45%, rgb(from var(--sl-color-accent-low) r g b / 0.5) 55%,  transparent 100%);
}

[data-has-hero] .action.primary {
  @apply ring-1 ring-accent-500/50;
  --sl-color-text-accent: linear-gradient(45deg, var(--sl-color-accent), var(--sl-color-accent-low));
  color: var(--sl-color-white);
}

[data-has-hero] .action.primary {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-primary-bg-1: var(--sl-color-accent);
  --btn-primary-bg-2: rgb(from var(--sl-color-accent-low) r g b / 0.75);
  --btn-primary-bg-color: hsla(360 100% 100% / 1);
  --btn-primary-border-color: rgb(from var(--sl-color-accent) r g b / 0.75);
  --btn-primary-shadow-outside-color-1: rgb(from var(--sl-color-accent) r g b / 0.5);
  --btn-primary-shadow-outside-color-2: rgb(from var(--sl-color-accent) r g b / 0.25);
  --btn-primary-shadow-inner-color-1: rgb(from var(--sl-color-accent) r g b / 0.5);
  --btn-primary-shadow-inner-color-2: rgb(from var(--sl-color-accent) r g b / 0.75);
  --btn-primary-border-radius: 2.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-primary-bg-2) 0%, var(--btn-primary-bg-1) 55%, var(--btn-primary-bg-2) 90%);
  border: none;
  border-radius: var(--btn-primary-border-radius);
  color: var(--btn-primary-bg-color);
  border: 1px solid var(--btn-primary-border-color);
  box-shadow: 0px 0px 20px var(--btn-primary-shadow-outside-color-1), 0px 5px 5px -1px var(--btn-primary-shadow-outside-color-2), inset 4px 4px 8px var(--btn-primary-shadow-inner-color-1), inset -4px -4px 8px var(--btn-primary-shadow-inner-color-2);
}

[data-has-hero] .action.primary:hover {
  background-position: right top;
  box-shadow: 0px 0px 20px var(--btn-primary-shadow-outside-color-1), 0px 5px 5px -1px var(--btn-primary-shadow-outside-color-1), inset 4px 4px 8px var(--btn-primary-shadow-inner-color-1), inset -4px -4px 8px var(--btn-primary-shadow-inner-color-2);
}

[data-has-hero] .action.primary:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-primary-shadow-outside-color-2), 0 0 0 6px var(--btn-primary-shadow-outside-color-2);
}

@media (prefers-reduced-motion: reduce) {
  [data-has-hero] .action.primary {
    transition: linear;
  }
}

ol ul:last-child {
  margin-bottom: 1rem;
}

.code-tabs,
.expressive-code {
  font-family: var(--ec-uiFontFml);
  font-size: var(--ec-uiFontSize);
  font-weight: var(--ec-uiFontWg);
  line-height: var(--ec-uiLineHt);
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;

  --ec-brdRad: 0.4rem;
  --ec-brdWd: 1px;
  --ec-frm-edActTabIndHt: 2px;
  --ec-frm-edTabBrdRad: 0.4rem;
  --header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
  --tab-border-radius: calc(var(--ec-frm-edTabBrdRad) + var(--ec-brdWd));
  --button-spacing: 0.4rem;
  --code-background: var(--ec-frm-edBg);
}

.expressive-code .ec-line .code mark {
  background-color: transparent;
}

.expressive-code  .ec-line.highlight.mark {
  background-color: var(--sl-color-accent-low);
}

.expressive-code .frame {
  --ec-brdRad: 0.4rem;
  --ec-brdWd: 1px;
  --ec-frm-edActTabIndHt: 2px;
  --ec-frm-edTabBrdRad: 0.4rem;
  --header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
  --tab-border-radius: calc(var(--ec-frm-edTabBrdRad) + var(--ec-brdWd));
  --button-spacing: 0.4rem;
  --code-background: var(--ec-frm-edBg);
  border-radius: var(--header-border-radius);
  box-shadow: var(--ec-frm-frameBoxShdCssVal);
}

.card-grid {
  position: relative;
}

.card-grid::before {
  position: absolute;
  content: "";
  background: radial-gradient(var(--sl-color-accent), transparent 50%);
}