---
import { Icon } from "astro-icon/components";

interface Props {
  icon?: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<article
  class="card group/card sl-flex relative flex flex-col overflow-hidden p-8 rounded-2xl border shadow-lg bg-gradient-to-tr border-accent-700/[.5] shadow-accent-900/[.5] from-accent-950/[.25] to-accent-900/[.25] hover:boder-accent-700 hover:shadow-accent-900 hover:from-950/[0.75] hover:to-accent-900/[0.75] ease-in-out duration-300"
>
  <div class="sl-flex">
    {
      icon && (
        <div class="absolute -top-16 -right-16 z-0 p-8 rounded-full border border-accent-800/[.5] bg-accent-800/[.15] group-hover/card:border-accent-800 group-hover/card:bg-accent-800/[.5] ease-in-out duration-300">
          <div class="relative p-6 rounded-full border border-accent-700/[.5] bg-accent-700/[.15] group-hover/card:border-accent-700 group-hover/card:bg-accent-700/[.5] ease-in-out duration-300">
            <div class="icon relative flex items-center justify-center w-14 h-14 rounded-full border border-accent-600/[.5] bg-accent-600/[.15] group-hover/card:border-accent-600 group-hover/card:bg-accent-600/[.5] ease-in-out duration-300">
              <Icon
                name={icon as any}
                size={32}
                class="text-accent-300 group-hover/card:text-accent-200 ease-in-out duration-300"
              />
            </div>
          </div>
        </div>
      )
    }
    <p
      class="text-xl font-semibold text-accent-300 group-hover/card:text-accent-200 !m-0 z-10 sm:text-2xl md:text-3xl md:mb-3 ease-in-out duration-300"
      set:html={title}
    />
  </div>

  <div
    class="text-md text-gray-200 group-hover/card:text-gray-100 sm:text-lg z-10"
  >
    <slot />
  </div>
</article>
