---

---

<div class="code-tabs">
  <slot />
</div>

<style is:global>
  .code-tabs {
    position: relative;
  }

  .code-tabs .tabs {
    margin-top: 0;
  }

  .code-tabs zapp-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .code-tabs .tabs > section {
    margin-top: 0;
  }

  .code-tabs .tabs > .tablist-wrapper {
    position: relative;
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
    background: linear-gradient(
        to top,
        var(--ec-frm-edTabBarBrdBtmCol) var(--ec-brdWd),
        transparent var(--ec-brdWd)
      ),
      linear-gradient(var(--ec-frm-edTabBarBg), var(--ec-frm-edTabBarBg));
    background-repeat: no-repeat;
    padding-inline-start: var(--ec-frm-edTabsMargInlStart);
  }

  .code-tabs .tabs > .tablist-wrapper::before {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    border: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
    border-radius: inherit;
    border-bottom: none;
  }

  .code-tabs .tabs > .tablist-wrapper > ul {
    transform: rotateX(180deg);
    overflow-x: auto;
    border: none;
    margin-right: 38px;
  }

  .code-tabs .tabs > .tablist-wrapper > ul > li {
    transform: rotateX(180deg);
    padding-top: var(--ec-brdWd);
    padding-inline: var(--ec-brdWd);
    margin-bottom: 0;
  }

  .code-tabs .tabs > .tablist-wrapper div[role="tab"] {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-block-start: var(--ec-frm-edTabsMargBlkStart);
    padding: calc(var(--ec-uiPadBlk) + var(--ec-frm-edActTabIndHt))
      var(--ec-uiPadInl);
    border: none;
  }

  .code-tabs .tabs > .tablist-wrapper div[role="tab"][aria-selected="true"] {
    position: relative;
    overflow: hidden;
    background-clip: padding-box;
    margin-block-start: var(--ec-frm-edTabsMargBlkStart);
    padding: calc(var(--ec-uiPadBlk) + var(--ec-frm-edActTabIndHt))
      var(--ec-uiPadInl);
    background: var(--ec-frm-edActTabBg);
    color: var(--ec-frm-edActTabFg);
    border: var(--ec-brdWd) solid var(--ec-frm-edActTabBrdCol);
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
    border-top: 0;
  }

  .code-tabs
    .tabs
    > .tablist-wrapper
    div[role="tab"][aria-selected="true"]::after {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    border-top: var(--ec-frm-edActTabIndHt) solid
      var(--ec-frm-edActTabIndTopCol);
    border-bottom: var(--ec-frm-edActTabIndHt) solid
      var(--ec-frm-edActTabIndBtmCol);
  }

  .code-tabs .tabs > section > .expressive-code pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
  }
</style>
