---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";
---

<a href="https://pub.dev/packages/flutter_reactter" rel="me" class="sl-flex">
  <span class="sr-only">flutter_reactter package in pub.dev</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M5.9 15.375L2.5 12l11-11h6.775zM13.5 23l-5.925-5.925L13.5 11.15h6.775l-5.925 5.925L20.275 23z"
    ></path></svg
  >
</a>

<a href="https://pub.dev/packages/reactter" rel="me" class="sl-flex">
  <span class="sr-only">reactter package in pub.dev</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M4.105 4.105S9.158 1.58 11.684.316a3.1 3.1 0 0 1 1.481-.315c.766.047 1.677.788 1.677.788L24 9.948v9.789h-4.263V24H9.789l-9-9C.303 14.5 0 13.795 0 13.105c0-.319.18-.818.316-1.105zm.679.679v11.787c.002.543.021 1.024.498 1.508L10.204 23h8.533v-4.263zm12.055-.678c-.899-.896-1.809-1.78-2.74-2.643c-.302-.267-.567-.468-1.07-.462c-.37.014-.87.195-.87.195L6.341 4.105z"
    ></path></svg
  >
</a>
<!-- Render the default social links. -->
<Default {...Astro.props}><slot /></Default>

<!-- Add styles to mimic the default links appearance. -->
<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }
</style>
